:root {
  --primary-purple: #A653F5;
  --secondary-purple: #8F8CF2;
  --teal: #65B8BF;
  --primary-pink: #F96CFF;
  --secondary-pink: #FA92FB;
}

button {
border-radius: 10px;
  margin: 20px 5px;
  display: inline-block;
  background-color: var(--primary-pink);
  border: 2px solid var(--secondary-pink);
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 5px 20px;
  text-decoration: none;
  box-shadow: 2px 3px 5px 1px #f0f0f0;
}

a {
  color: var(--primary-pink);
  text-decoration: none;
}

a:hover {
  color: var(--teal);
}

footer {
  font-size: 8pt;
  text-align: center;
}

.App-logo {
  max-width: 300px;
  display: block;
margin: 0 auto;
}

.search-form {
  text-align: center;
  padding: 30px;
}

.search-box {
  border-radius: 10px;
  border: 0.5px solid var(--secondary-pink);
padding: 5px;
}