:root {
  --primary-purple: #a653f5;
  --secondary-purple: #8f8cf2;
  --teal: #65b8bf;
  --primary-pink: #f96cff;
  --secondary-pink: #fa92fb;
}

h2 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: inline-block;
}

small {
  font-size: 6pt;
}

div .Phonetic {
  font-size:10pt;
  padding-bottom: 10px;
}

div .Definition {
  padding: 30px;
  margin: 20px;
  border: 1px solid var(--secondary-purple);
  border-radius: 20px;
  box-shadow: 2px 3px 5px 1px #f0f0f0;
}

.listen {
  padding: 10px;
}

.example {
  font-size: 10pt;
  color: var(--primary-purple);
  text-indent: 20px;
  padding-top:10px;
}

.synonym {
  font-size: 10pt;
  color: var(--primary-pink);
}

.result-img {
  padding: 5px;
}