:root {
  --primary-purple: #a653f5;
  --secondary-purple: #8f8cf2;
  --teal: #65b8bf;
  --primary-pink: #f96cff;
  --secondary-pink: #fa92fb;
}

h2 {
  font-weight: bold;
}

.example {
  font-size: 10pt;
  font-style: italic;
  color: var(--secondary-purple);
  text-indent: 50px;
}

.display-definition {
  border: 1px;
}

.result-container {
  padding-bottom: 20px;
}
